@import '../../index.scss';

section {

    article{
        display: flex;
        padding: 0px 16px;
        div{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            p{
                font-size: $tx-sm;
            }
            h1{
                font-size: $tx-xl;
                font-weight: 400;
                color: $sColor;
            }
        }
        picture{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    aside{
        background-color: $bg-S;
        display: flex;
        flex-direction: column;
        padding: 12px 0px;
        h3{
            padding: 0px 0px 18px 12px;
            font-size: $tx-l;
            font-weight: 600;
        }
    }
}