@import '../../index.scss';

header{
    color: $TxColor-P;
    margin-bottom: 20px;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 18px;
        // background: $ln-Grad;
        font-size: $tx-xl;
        font-weight: 400;
        box-shadow: $sw-P;
    }
    .cont-menu{
        display: flex;
        padding: 7px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: $ln-Grad-P;
        cursor: pointer;
        box-shadow: $sw;
    }
    .menuIco:hover{
        color: $pColor;
    }
    .menu-bar{
        background: $sColor;
        color: $tColor;
        font-weight: 600;
    }
    .menu-bar-list{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
}