@import '../../index.scss';

.contactContainer {
    padding: 16px 0px;
}

.contactIco{
    width: 25px;
    height: 25px;
    color: $pColor;
}

.contactPlace{
    padding: 0px 16px;
}

.contactPlace h2{
    padding-bottom: 26px;
}

.contactPlace span {
    display: flex;
    // background-color: gray;
    align-items: center;
    justify-content: center;
}

.contactPlace ul{
    width: 330px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
    padding: 16px;
    box-shadow: $sw-box;
}

.contactPlace li{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: $tx-base;
    gap: 21px;
}
.viewContIco{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
    background: $ln-Grad-P;
    box-shadow: $sw;
    // background-color: gray;
}

.contactService {

    margin: 12px 0px;
    background: $bg-S;
    // background-color: gray;
    padding: 16px;
    span{
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: blue;
        gap: 16px;
        h2{
            align-self: self-start;
        }
        ul{
            // background: gray;
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 16px;
            padding-left: 16px;
            font-size: $tx-sm;
            li{
                list-style:disc;
                // cursor:none;
            }
        }
        button{
            align-self: center;
            justify-self: center;
        }
    }
}