@import '../../index.scss';

.contactContainer {
    padding: 16px 16px;
}

.contactIco{
    width: 25px;
    height: 25px;
    color: $pColor;
}

.contactPlace h2{
    padding-bottom: 26px;
}

.contactPlace ul{
    // background: gray;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    box-shadow: $sw;
}

.contactPlace li{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: $tx-base;
    gap: 21px;
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        border-radius: 50%;
        background: $ln-Grad-P;
        box-shadow: $sw;
        // background-color: gray;
    }
}