@import '../../index.scss';

.detailServiceContainer{
    @media (min-width: 640px){
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 20px; 
        background-color: $bg-S;
    }
    @media (min-width: 1024px){
        grid-template-columns: repeat(3, 1fr);
    }
}

.detailService{
    display: flex;
    flex-direction: column;
    padding: 16px 18px;
    gap: 12px;
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.1);
      }

    h2{
        width: 230px;
        color: $sColor;
        align-self: center;
        text-align: center;
    }
    ul{
        align-self: center;
        margin: 12px;
        li{
            font-size: $tx-sm;
            list-style:disc;
        }
    }
    
}
.detailService:nth-child(odd){
    background-color: none;
}
.detailService:nth-child(even){
    background-color: $bg-S;
    @media (min-width: 640px){
        background-color: transparent;
    }
}