@import '../../index.scss';

.detailService{
    display: flex;
    flex-direction: column;
    padding: 16px 18px;
    gap: 12px;
    h2{
        width: 230px;
        color: $sColor;
        align-self: center;
        text-align: center;
    }
    ul{
        margin: 12px;
        li{
            font-size: $tx-sm;
            list-style:disc;
        }
    }
    
}
.detailService:nth-child(odd){
    background-color: none;
}
.detailService:nth-child(even){
    background-color: $bg-S;
}