$font-P: 'Open Sans', sans-serif;
$font-S: 'Roboto Slab', serif;
$tx-sm: 1.2rem;
$tx-base: 1.4rem;
$tx-l: 1.6rem;
$tx-xl: 1.8rem;
$tx-xxl: 2rem;
$pColor: #3EC12E;
$sColor: #C3E667;
$tColor: #092E2F;
$TxColor-P: white;
$TxColor-S: #696870;
$bg-P:#010004;
$bg-S:#092E2F4D;
$bg-T:#010C188F;
$bg-C:#010C18;
$bg-Q:#3EC12E;
$ln-Grad:linear-gradient(360deg, #092E2F 30%, #010004 60%);
$ln-Grad-P:linear-gradient(225deg, #010004 12.16%, #092E2F 87.46%);
$ln-Grad-S:linear-gradient(225deg, #010004, #092E2F);
$ln-Grad-T:linear-gradient(225deg, #092E2F, #010004);
$sw-P:-1px 1px 5px #3EC12E,
3px -3px 5px #092E2F;
$sw-S: -5px 5px 10px #3EC12E,
5px -5px 10px #092E2F;
$sw-T: -5px 5px 10px #3EC12E;
$sw: -1px 1px 5px #092E2F, 3px -3px 5px rgba(0, 0, 0, 0.25);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
  }

  body {
    background: $bg-P;
    color: $TxColor-P;
    font-family: $font-P;
  }

  svg path {
    stroke: currentColor;        
  }

  a {
    font-weight: 500;
    color: white;
    text-decoration: inherit;
  }
  // a:hover {

  //   text-decoration: underline;
  //   text-underline-offset: 3px;
  // }
  ul{
    list-style: none;
    li {
        cursor: pointer;
    }
}

  h1 {
    font-size: $tx-xl;
  }
  h2 {
    font-size: $tx-l;
    font-weight: 600;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

